 
/* CSS for Soul Essential Site */



/* Custom properties/variables  */
:root {
    --main-white: #f0f0f0;
    --main-red: #be3144;
    --main-blue: #45567d;
    --main-gray: #c5c5c5;
    --dark-gray: #181818;
    --main-trim: purple;
    --main-comp: black;
  }
  

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
      flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--main-comp);
}

h1 {
    text-align: center;
    font-weight: 500;
    line-height: 35px;
    color: var(--main-white);
}

button {
   padding: 10px;
   background-color: black;
   color: white;
   border-radius: 10%;
}

/* nav */

#s-nav  
{
  background-image: url(/Users/new/Dev/soul/soul-essential-logo.png);
  background-color: var(--main-trim);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1100px 130px;
  height: 300px;
  width: 100%;
}

.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.8;
  width: 100%;
  height: 40px;
  background-color: var(--main-trim);

  box-sizing: border-box;
  z-index: 10;
}

.nav-list {
  display: flex;
  flex-direction: row;
  margin-right: 2rem;
}

.nav-list li {
  list-style: none;
  font-size: 1.8rem;
  padding: 20px;
}

/* this code puts space between the list items */
.nav-list a {
  display: block;
  font-size: 1.2rem;
  padding: 0 0 0 2rem;
  color: var(--main-white);
}

.nav-list a:hover {
  text-shadow: 2px 2px 3px var(--main-comp);
  list-style: none;
  text-decoration: none;
}


#s-banner
{
    display: flex;
    height: 500px; /* You must set a specified height */
    border: solid 110px black;

    /* background-image: url(soul-essential-logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */ 
}

#s-banner-txt {
    padding: 30px;
    color: var(--main-white);
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

#s-banner-pic {
    height: 400px;;
    width: 600px;
}

#s-social
{
    display: flex;
    background: black;
    height: 60px;
    justify-content: center;
    align-items: center;
}

.fa {
  padding: 10px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

#s-carousel {
    display: flex;
    justify-content: center;
    background: black;
    width: 100%;
    padding: 150px;
}

#carouselSoul {
    width: 50vw;
}

#carouselSoul img {
  display: block;
  max-width:550px;
  max-height:400px;
  width: auto;
  height: auto;
}

.s-about
{
    display: grid;
    grid-gap: 50px;
    justify-content: space-around;
    grid-template-columns: auto auto;
    background-color: black;
    width: 100vw;
    color: black;
}
.s-about-txt
{
    align-items: stretch;
    background: black;
    color: white;
    height: 400px;
    width: 50vw;
}
.s-about-pic
{
    background: white;
    width: 50vw;
    height: 400px;
}

.txt-1
{
   padding: 100px;
}

.txt-2
{
   padding: 75px;
}

.txt-3
{
   padding: 75px;
}

.pic-1
{
   background-image: url(psychodelic.jpg);
   background-size: cover;
   background-position: center;
}
.pic-2
{
   background-image: url(eric.jpeg);
   background-size: cover;
   background-position: center;
}
.pic-3
{
   background-image: url(amy.jpeg);
   background-size: cover;
   background-position: center;
}


/*************** FOOTER ***************/

.footer {
    background: purple;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
    width: 100vw;
}
.footer-text {
    font-size: 1rem;
    color: var(--main-comp);
    align-self: flex-end;
}

